# https://circleci.com/docs/docker
version: 2
jobs:
  build:
    docker:
      # https://github.com/jumanjihouse/cci/pulls?q=is%3Apr+is%3Aclosed
      - image: jumanjiman/cci:20171118T1458-git-944bdaf

    working_directory: ~/workdir/

    steps:
      # https://circleci.com/docs/2.0/building-docker-images/#docker-version
      - setup_remote_docker:
          version: 17.06.1-ce

      - checkout

      - run:
          name: Build the image
          command: |
            ci/build

      - run:
          name: Test the image
          command: |
            ci/test

      - deploy:
          name: Deploy from master branch
          command: |
            if [[ ${CIRCLE_BRANCH} = master ]] && [[ -z ${CIRCLE_PR_NUMBER} ]]; then
              ci/publish
            fi
